*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

main{
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgb(164, 230, 250),rgb(142, 241, 212));
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
background: white;
min-height: 75vh;
width: 75%;
background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
border-radius: 2rem;
z-index: 10;
backdrop-filter: blur(2rem);
display: flex;
}

.dashboard{
    flex: 1;
    padding-top: 3rem;
    padding-left: 3rem;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    
}

#title h1{
    font-size: 3rem;
    font-weight: 600;
    color: #426696;
}

#title2 h2{
    color: #426696;

}

.line{
    width: auto;
    height: .5rem;
    margin-right: 3rem;
    background: #426696;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

#links{
    
    color: rgb(59, 151, 255);
}

.bigsecction{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    
}

.bigsecction div{
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    margin: 2rem 0rem;
    padding: 1rem;
    border-radius: 2rem;
    justify-content: center;
    opacity: 0.7;
    box-shadow: 6px 6px 20px rgb(125, 222, 235);
}
.avatar{
    size: 25%;
    border-radius: 50%;   
    display: flex;
    box-shadow: 6px 6px 20px rgb(125, 222, 235);
}


.circle1,
.circle2,
.circle3{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.circle1{

    bottom: 4%;
    left: 15%;
    height: 15rem;
    width: 15rem;
}
.circle2{  
    top: 5%;
    right: 7%
}
.circle3{  
    bottom: 25%;
    right: 20%
}

#title2{
    margin-bottom: 2rem;
}



.links h3{
    padding: 0rem 2rem;
}

.icon {
    font-size: 5rem ;
    display: flex;
    margin: .5rem 0rem;
    padding: .5rem .5rem;
    transition: all .5s;
}

a {
    color: rgb(59, 151, 255);   
}

a:hover{
    color: #426696;
}

.iconCV {
    width: 6rem ;
    margin: .5rem 0rem;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
    color: #426696;
}

